<tc-card class="mb-0">
    <!-- <h1>H1 theme heading</h1> -->
    <p>
        This allows for the creation of Patient Diagnosis
    </p>
    <br/>
</tc-card>

<tc-card class="mb-0">
    <tc-table [rows]="tableData" [hovered]="true" [pagination]="true">
        <tc-table-col [columnTitle]="'Diagnosis'" [columnName]="'diagnosis'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
                <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
              <tc-icon [iconClass]="'icofont-ui-email'" [tcFontSize]="16" [padding]="0" class="mr-1"></tc-icon> {{ value }}
            </span>
            </ng-template>
        </tc-table-col>

        <tc-table-col [columnTitle]="'Diagnosis Type'" [columnName]="'diagnosis_type'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'Diagnosis Note'" [columnName]="'diagnosis_note'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'Body-Part Id'" [columnName]="'body_part_id'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'In-Parent Id'" [columnName]="'in_parent_id'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'Status'" [columnName]="'status'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'Severity'" [columnName]="'severity'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'Active'" [columnName]="'active'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'Hospital Diagnosed'" [columnName]="'hospital_diagnosed'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'Diagnosed By'" [columnName]="'diagnosed_by'" [enableSorting]="false">
        </tc-table-col>

        <tc-table-col [columnTitle]="'Date'" [columnName]="'date_of_entry'" [enableSorting]="false">
        </tc-table-col>

        <!-- <tc-table-col [columnTitle]="'Phone'" [enableSorting]="false">
        <ng-template #tableTDTemplate let-row="row">
            <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
              <tc-icon [iconClass]="'icofont-ui-cell-phone'" [tcFontSize]="16" [padding]="0" class="mr-1"></tc-icon>
              {{ row.phone ? row.phone : "" }}
            </span>
          </ng-template>
      </tc-table-col> -->

        <!-- <tc-table-col [columnTitle]="'Address'" [enableSorting]="false">
          <ng-template #tableTDTemplate let-row="row">
              <span class="nowrap" [tcColor]="'#a5a5a5'">{{ row.address ? row.address : "" }}</span>
          </ng-template>
        </tc-table-col> -->

        <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
            <ng-template #tableTDTemplate let-row="row">
                <div class="actions">
                    <button tc-button [afterIcon]="'icofont-ui-edit'" [view]="'info'" [square]="true" [tcShape]="500" [size]="'sm'" (click)="edit(row)"></button>

                    <button tc-button *ngIf="!row.reserved_name" [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'" (click)="remove(row)"></button>
                </div>
            </ng-template>
        </tc-table-col>
    </tc-table>
</tc-card>


<div class="add-action-box">
    <button tc-button [afterIcon]="'icofont-plus'" [view]="'accent'" [square]="true" [tcShape]="500" (click)="openModal(modalBody, 'Add Patient Diagnosis', modalFooter)"></button>
</div>

<!-- Modal window -->
<ng-container>
    <ng-template #modalBody>
        <form [formGroup]="patientDiagnosisForm" novalidate>
            <tc-form-group>
                <tc-input [placeholder]="'Diagnosis'" formControlName="diagnosis"></tc-input>
            </tc-form-group>

            <tc-form-group>
                <tc-input [placeholder]="'Diagnosis Type'" formControlName="diagnosis_type"></tc-input>
            </tc-form-group>

            <tc-form-group>
                <tc-input [placeholder]="'Hospital Diagnosed'" [type]="'text'" formControlName="hospital_diagnosed">
                </tc-input>
            </tc-form-group>

            <tc-form-group>
                <tc-input [placeholder]="'active'" [type]="'number'" formControlName="active"></tc-input>
            </tc-form-group>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <tc-form-group>
                        <tc-input [placeholder]="'Encounter Id'" [type]="'text'" formControlName="encounter_id">
                        </tc-input>
                    </tc-form-group>
                </div>

                <div class="col-12 col-sm-6">
                    <tc-form-group>
                        <tc-input [placeholder]="'Diagnosed By'" [type]="'number'" formControlName="diagnosed_by">
                        </tc-input>
                    </tc-form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <tc-form-group>
                        <tc-input [placeholder]="'Emr Id'" [type]="'number'" formControlName="emr_id">
                        </tc-input>
                    </tc-form-group>
                </div>

                <div class="col-12 col-sm-6">
                    <tc-form-group>
                        <tc-input [placeholder]="'Date'" [type]="'text'" formControlName="date_of_entry">
                        </tc-input>
                    </tc-form-group>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <tc-form-group>
                        <tc-input [placeholder]="'In-Patient Id'" formControlName="in_parent_id">
                        </tc-input>
                    </tc-form-group>
                </div>

                <div class="col-12 col-sm-6">
                    <tc-form-group>
                        <tc-input [placeholder]="'Body-Part Id'" formControlName="body_part_id">
                        </tc-input>
                    </tc-form-group>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <tc-form-group>
                        <tc-select [placeholder]="'Status'" formControlName="status" [options]="status"></tc-select>
                    </tc-form-group>
                </div>

                <div class="col-12 col-sm-6">
                    <tc-form-group>
                        <tc-select [placeholder]="'Severity'" formControlName="severity" [options]="severity">
                        </tc-select>
                    </tc-form-group>
                </div>
            </div>


            <tc-form-group class="mb-0">
                <tc-textarea [placeholder]="'Diagnosis Note'" formControlName="diagnosis_note"></tc-textarea>
            </tc-form-group>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <div class="actions justify-content-between">
            <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
            <button tc-button [view]="'info'" [disabled]="patientDiagnosisForm.invalid" (click)="addPatientDiagnosis(patientDiagnosisForm)">
            Add Patient Diagnosis
          </button>
        </div>
    </ng-template>
    <ng-template #modalUpdateFooter>
        <div class="actions justify-content-between">
            <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
            <button tc-button [view]="'info'" [disabled]="patientDiagnosisForm.invalid" (click)="update(patientDiagnosisForm)">
              Update Patient Diagnosis
            </button>
        </div>
    </ng-template>
</ng-container>
<!-- end Modal window -->




<!-- Modal window -->
<ng-container>
    <ng-template #modalWarningBody>
        <div class="row">
            <div class="col-12">
                <!-- <tc-card>           -->
                <tc-alert [view]="'warning'" class="mb-4" [beforeIcon]="'icofont-info-circle'">
                    <strong>Read Carefully:</strong> You are going to delete Patient Diagnosis
                </tc-alert> -->
                <!-- </tc-card> -->
            </div>
        </div>
        <form [formGroup]="ConfirmDeleteForm" novalidate>
            <tc-form-group>
                <tc-checkbox formControlName="isConfirmed">Check to confirm you know what you are doing</tc-checkbox>
                <tc-input formControlName="id" hidden></tc-input>
            </tc-form-group>
        </form>
    </ng-template>

    <ng-template #modalWarningFooter>
        <div class="actions justify-content-between">
            <button tc-button [type]="'button'" [view]="'info'" (click)="closeConfirmDeleteModal()">Cancel</button>
            <button tc-button [view]="'error'" [disabled]="ConfirmDeleteForm.invalid || !ConfirmDeleteForm.value.isConfirmed" (click)="confirmRemove(ConfirmDeleteForm)">
            Proceed
          </button>
        </div>
    </ng-template>
</ng-container>
<!-- end Modal window -->