<tc-card class="mb-0">
    <!-- <h1>H1 theme heading</h1> -->
    <p>
      This allows for the creation of the base billing profile
    </p>
    <br/>
</tc-card>

<tc-card class="mb-0">
  <tc-table [rows]="tableData" [hovered]="true" [pagination]="true">
    <tc-table-col [columnTitle]="'Name'" [columnName]="'name'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
            <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
              <tc-icon [iconClass]="'icofont-ui-email'" [tcFontSize]="16" [padding]="0" class="mr-1"></tc-icon> {{ value }}
            </span>
          </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'Category'" [columnName]="'biller_category_name'" [enableSorting]="true">
    </tc-table-col>

    <tc-table-col [columnTitle]="'Description'" [columnName]="'description'" [enableSorting]="false">
      <ng-template #tableTDTemplate let-value>
          <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'Cost Price'" [columnName]="'unit_cost_price'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
            <span class="nowrap" [tcColor]="'#336cfb'">{{ value.toFixed(2) }}</span>
          </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'Sell Price'" [columnName]="'unit_selling_price'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <span class="nowrap" [tcColor]="'#336cfb'"><b>{{ value.toFixed(2) }}</b></span>
        </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions">
            <button
              tc-button
              [afterIcon]="'icofont-ui-edit'"
              [view]="'info'"
              [square]="true"
              [tcShape]="500"
              [size]="'sm'"
              (click)="edit(row)"
            ></button>
  
            <button
              tc-button
              [afterIcon]="'icofont-ui-delete'"
              *ngIf="!row.reserved_name"
              [view]="'error'"
              [square]="true"
              [tcShape]="500"
              [size]="'sm'"
              (click)="remove(row)"
            ></button>
          </div>
        </ng-template>
      </tc-table-col>
  </tc-table>
</tc-card>


<div class="add-action-box">
    <button
      tc-button
      [afterIcon]="'icofont-plus'"
      [view]="'accent'"
      [square]="true"
      [tcShape]="500"
      (click)="openModal(modalBody, 'Add Service', modalFooter)"
    ></button>
  </div>

  <!-- Modal window -->
<ng-container>
    <ng-template #modalBody>
      <form [formGroup]="ServiceForm" novalidate class="new-patient-form">
  
        <tc-form-group>
          <tc-input [placeholder]="'Name'" formControlName="name"></tc-input>
          <tc-input formControlName="id" hidden></tc-input>
        </tc-form-group>
  
        <tc-form-group>
            <tc-select [placeholder]="'Biller Category'" formControlName="biller_category_id" [options]="billerCategoryData"></tc-select>
          </tc-form-group>
  
        <div class="row">
          <div class="col-12 col-sm-6">
            <tc-form-group>
              <tc-input [placeholder]="'Unit Cost Price'" [type]="'number'" formControlName="unit_cost_price"></tc-input>
            </tc-form-group>
          </div>
  
          <div class="col-12 col-sm-6">
            <tc-form-group>
                <tc-input [placeholder]="'Unit Selling Price'" [type]="'number'" formControlName="unit_selling_price"></tc-input>
              </tc-form-group>
          </div>
        </div>
  
        <tc-form-group class="mb-0">
          <tc-textarea [placeholder]="'Description'" formControlName="description"></tc-textarea>
        </tc-form-group>
      </form>
    </ng-template>
  
    <ng-template #modalFooter>
        <div class="actions justify-content-between">
          <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
          <button tc-button [view]="'info'" [disabled]="ServiceForm.invalid" (click)="add(ServiceForm)">
            Add Service
          </button>
        </div>
      </ng-template>
      <ng-template #modalUpdateFooter>
          <div class="actions justify-content-between">
            <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
            <button tc-button [view]="'info'" [disabled]="ServiceForm.invalid" (click)="update(ServiceForm)">
              Update Service
            </button>
          </div>
        </ng-template>
  </ng-container>
  <!-- end Modal window -->


<!-- Modal window -->
<ng-container>
    <ng-template #modalWarningBody>
        <div class="row">
            <div class="col-12">
              <!-- <tc-card>           -->
                <tc-alert [view]="'warning'" class="mb-4" [beforeIcon]="'icofont-info-circle'">
                    <strong>Read Carefully:</strong> You are going to delete its billers as well
                </tc-alert>
              <!-- </tc-card> -->
            </div>
          </div>
        <form [formGroup]="ConfirmDeleteForm" novalidate>
          <tc-form-group>
            <tc-checkbox formControlName="isConfirmed">Check to confirm you know what you are doing</tc-checkbox>
            <tc-input formControlName="id" hidden></tc-input>
          </tc-form-group>
      </form>
    </ng-template>
  
    <ng-template #modalWarningFooter>
        <div class="actions justify-content-between">
          <button tc-button [type]="'button'" [view]="'info'" (click)="closeConfirmDeleteModal()">Cancel</button>
          <button tc-button [view]="'error'" [disabled]="ConfirmDeleteForm.invalid || !ConfirmDeleteForm.value.isConfirmed" (click)="confirmRemove(ConfirmDeleteForm)">
            Proceed
          </button>
        </div>
      </ng-template>
  </ng-container>
  <!-- end Modal window -->