<div class="row">
    <div class="col col-12 col-md-6 col-xl-3">
        <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-01s">
            <div class="row align-items-center">
                <div class="col col-5">
                    <tc-icon [tcColor]="'rgba(51,108,251,0.5)'" [tcFontSize]="48" [iconClass]="'icofont-first-aid-alt'" [padding]="0"></tc-icon>
                </div>

                <div class="col col-7">
                    <h6 class="mt-0 mb-1">Billers</h6>
                    <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{ stats.biller_count }}</div>
                </div>
            </div>
        </tc-card>
    </div>

    <div class="col col-12 col-md-6 col-xl-3">
            <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-03s">
                <div class="row align-items-center">
                    <div class="col col-5">
                        <tc-icon [tcColor]="'rgba(51,108,251,0.5)'" [tcFontSize]="48" [iconClass]="'icofont-blood'" [padding]="0"></tc-icon>
                    </div>
    
                    <div class="col col-7">
                        <h6 class="mt-0 mb-1">Services</h6>
                        <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{ stats.service_count }}</div>
                    </div>
                </div>
            </tc-card>
        </div>

    

    <div class="col col-12 col-md-6 col-xl-3">
        <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-03s">
            <div class="row align-items-center">
                <div class="col col-5">
                    <tc-icon [tcColor]="'rgba(51,108,251,0.5)'" [tcFontSize]="48" [iconClass]="'icofont-blood'" [padding]="0"></tc-icon>
                </div>

                <div class="col col-7">
                    <h6 class="mt-0 mb-1">Billing Profiles</h6>
                    <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{ stats.billing_profile_count }}</div>
                </div>
            </div>
        </tc-card>
    </div>

    <div class="col col-12 col-md-6 col-xl-3">
            <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-02s">
                <div class="row align-items-center">
                    <div class="col col-5">
                        <tc-icon [tcColor]="'rgba(51,108,251,0.5)'" [tcFontSize]="48" [iconClass]="'icofont-wheelchair'" [padding]="0"></tc-icon>
                    </div>
    
                    <div class="col col-7">
                        <h6 class="mt-0 mb-1 nowrap">Health Schemes</h6>
                        <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{ stats.insurance_scheme_count }}</div>
                    </div>
                </div>
            </tc-card>
    </div>

</div>


<div class="row">
  <!-- <SearcheableServiceTableComponent></SearcheableServiceTableComponent> -->
</div>